*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #254550;
    color: white;
    padding: 20px;
}
body img{
    width: 200px;
    height: auto;
    margin-top: 20px;
}
body ul li{
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 800;
}
body ul{
    list-style: none;
    background-color: black;
    width: 300px;
    height: auto;
}